# datasets
/Datasets/*
!/Datasets/getDatasets.sh

# production
/.vscode
/ABYTest
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Compiling C++
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Binaries
add_test
millionaire_prob_test
matrix_sub_test

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

